.quiz-container {
    min-height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  @media (min-width: 700px) {
    .quiz-container {
      max-width: 80%;
      margin: 0 auto;
    }
  }
  
  .question-container {
    padding-bottom: 1em;
    border-bottom: 1px solid #DBDEF0;
    margin-bottom: 1em;
  }
  
  .question-text {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: .6em;
  }
  
  @media (min-width: 1024px) {
    .question-text {
      margin-bottom: 1.2em;
    }
  }
  
  .answers-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  
  @media (min-width: 1024px) {
    .answers-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @keyframes unselectedAnswerHover {
    0% {
      background-image: linear-gradient(90deg, rgba(214, 219, 245, 1) 50%, transparent 50%);
      background-position: 100%;
      background-size: 200%;
    }
    100% {
      background-image: linear-gradient(90deg, rgba(214, 219, 245, 1) 50%, transparent 50%);
      background-position: 0;
      background-size: 200%;
    }
  }
  
  .answer-wrapper {
    background-color: transparent;
    border: 1px solid #4D5B9E;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: .5em .75em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  
  .unselected-answer:hover { 
    cursor: pointer;
    animation: unselectedAnswerHover 1s linear;
    animation-fill-mode: forwards;
  }
  
  .selected-answer {
    background-color: #4D5B9E;
    box-shadow: 0 0 10px rgba(77, 91, 158, .7);
    color: #ffffff;
  }
  
  .correct-answer {
    background-color: #94D7A2;
    box-shadow: 0 0 10px rgba(148, 215, 162, .7);
    color: #293264;
    border: 1px solid transparent;
  }
  
  .incorrect-answer {
    background-color: #F8BCBC;
    box-shadow: 0 0 10px rgba(248, 188, 188, .7);
    color: #293264;
    border: 1px solid transparent;
  }
  
  .quiz-btn {
    align-self: center;
    margin-bottom: 2em;
  }
  
  .quiz-result-container {
    text-align: center;
  }